@model Odev3.Models.Uyeler
@{
    ViewBag.Title = "Kayitol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
                <div class="login-form">
                    <!--login form-->
                    <h2>Kayıt Ol</h2>
                    @using (Html.BeginForm("UyeOl", "Uyeler", FormMethod.Post, new
                    { @class = "contact-form row", id = "main-contact-form", name = "contact-form" }))
                    {
                        @Html.AntiForgeryToken();

                        @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control", name = "name", placeholder = "Kullanıcı Adı" })
                        @Html.TextBoxFor(m => m.E_Posta, new { @class = "form-control", name = "name", placeholder = "E-Posta" })
                        @Html.PasswordFor(m => m.Sifre, new { @class = "form-control", name = "name", placeholder = "Şifre", type = "password" })

                        <span>
                            <input type="checkbox" class="checkbox">
                            Keep me signed in
                        </span>
                        <button type="submit" class="btn btn-default">Kayıt Ol</button>
                    }
                    @*<label class="label-success">@ViewBag.SuccessMessage</label>*@
                </div><!--/login form-->
            </div>


        </div>
    </div>
</section><!--/form-->

