@model  Odev3.Models.DBModelEntities
@{
    ViewBag.Title = "Ürünler";
}
<section>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2>Category</h2>
                <div class="panel-group category-products" id="accordian">
                    <!--category-productsr-->

                    @foreach (var item in Model.Kategori.Where(u => u.ID >= 0))
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#@item.ID">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        @item.KategoriAdi
                                    </a>
                                </h4>
                            </div>
                            <div id="@item.ID" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        @foreach (var subItem in Model.AltKategori.Where(u => u.KategoriID == item.ID))
                                        {

                                            <li>@Html.ActionLink(subItem.AltKategoriAdi, "Index", new { id = subItem.ID }, null)</li>

                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                </div><!--/category-products-->
            </div>
        </div>
        <div class="col-sm-9 padding-right">
            <div class="features_items">
                <!--features_items-->
                <h2 class="title text-center">Features Items</h2>

                @foreach (var subItem in ViewBag.Urunler)
                {

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="@Url.Content(subItem.UrunResmi)" height="140px" />
                                    <h2>@subItem.Fiyati₺</h2>
                                    <p>@subItem.UrunAdi</p>
                                    <a href="@Url.Action("Detay","Home", new { id = subItem.ID })" class="btn btn-default add-to-cart"> <i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div><!--features_items-->
        </div>
    </div>
</div>
</section>


